{
  "API_KEY": "your_trello_api_key",
  "TOKEN": "your_trello_token",
  "board_name": "your_board_name",
  "list_name": "your_list_name",
  "done_list_name": "your_done_list",
  "planning_activities_list_name": "your_activities_planning_list_name",
  "GPT_API_KEY": "your_gpt3.5_api_key",
  "SIPGATE_TOKENID": "token",
  "SIPGATE_TOKEN": "token",
  "SMS_RECEIPIENT": "+49_____"
}
